[Desktop Entry]
Name=Deepin Software Center
Name[zh_CN]=深度软件中心
Name[zh_TW]=深度軟體中心
Comment=A general Linux software manager
Comment[zh_CN]=Linux 通用软件管理器
Comment[zh_TW]=Linux 通用軟體管理者
Exec=deepin-software-center
Icon=/usr/share/deepin-software-center/icon/icon.ico
Terminal=false
X-MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings
StartupNotify=false
